.bienvenue {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    font-size: 16px;
}

.signin {
    color: rgb(72, 72, 72);    
    margin-bottom: 10px;
    flex-grow: 2; 
}

#identifier, #nouveau {
    height: min-content;
    min-height: 48px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: 0;
}

#identifier {
    background-color: #0077b5;
    color: white;
}

#identifier:hover {
    background-color: #026397;
    color: white;
}
#nouveau:hover{
    background-color: rgb(241, 236, 236);

}
#nouveau {
    background-color: rgb(255, 255, 255);
    color:  rgb(72, 72, 72); 
    border: rgb(141, 136, 136)  solid 1px;
}


.aff{
    position :relative ;
    display   :inline-block ;
    transform: translate(-125%);
    cursor: pointer;
    background-color: transparent;
    color:#0077b5;
}
.photo {
    margin-left: 20px; 
    flex-grow: 1; 
    width: min-content;
}
.oubli{
    color: #0077b5;
    margin-bottom: 15px;
    font-size: 16px;
}
.pol , .cond , .rel{
    color: #0077b5;
    font-size: 12px;
}
input {
    border: 1px groove grey;
    border-radius: 5px;
    padding-block: 1px;
    padding-inline: 2px;
    width : 300px;
    height: 50px;
    outline-width: 0px;
    background-color: white;
    color: black;
    margin-bottom: 50px;

}

input:hover{
    background-color: rgb(241, 236, 236);
    border: black solid ;
    color: black;
    outline-width: 0px;

}
.line {
    display: flex;
    align-items: center;
}

.line hr {
    flex-grow: 1;
    height: 1px;
    background-color:  rgb(72, 72, 72); 
    margin: 0 10px;
}

.oubli:hover,.pol:hover,.cond:hover,.rel:hover {
    text-decoration: underline;
}

.disclaimer {
    font-size:12px ;
    color: rgb(141, 136, 136);
    padding-bottom: 12px;
}

.text {
    text-align: left;
}

.title {
    color: brown;
}
